<%- include header %>
<div class="article-per">
    <div class="article-title"><a href="/u/<%= article.author %>/<%= article.time.day %>/<%= article.title %>"><%= article.title %></a></div>
    <div class="article-info">作者： <a href="/u/<%= article.author %>"><%= article.author %></a> | 日期： <%= article.time.minute %> <% if (user == article.author) { %> <a href="/edit/<%= article.author %>/<%= article.time.day %>/<%= article.title %>">编辑</a><a href="/remove/<%= article.author %>/<%= article.time.day %>/<%= article.title %>">删除</a><% } %></div>
    <div class="article-tags">标签：
        <% if (article.tags) { article.tags.forEach(function (tag, index) { %>
        <% if (tag) { %>
        <a href="/tags/<%= tag %>"><%= tag %></a>
        <% } %>
        <% }) } %>
    </div>
    <div class="article-content"><%- article.content %></div>
</div>
<%- include comment %>
<%- include footer %>