<%- include header %>
<div class="col-sm-8 col-sm-offset-2">
    <form method="post" action="">
        <div class="form-group">
            <label for="aTitle">标题:</label>
            <input type="text" name="title" class="form-control" id="aTitle" value=<%= article.title %> disabled>
        </div>
        <div class="form-group">
            <label>标签:</label>
            <div class="clearfix">
                <input type="text" name="tag1" class="form-control my-inline-input wid140" value="<%= article.tags && article.tags[0] %>" disabled>
                <input type="text" name="tag2" class="form-control my-inline-input wid140" value="<%= article.tags && article.tags[1] %>" disabled>
                <input type="text" name="tag3" class="form-control my-inline-input wid140" value="<%= article.tags && article.tags[2] %>" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="aPost">正文:</label>
            <div>
                <textarea class="form-control" name="content" rows="6" id="aPost"><%- article.content %></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-default">发表</button>
    </form>
</div>
<%- include footer %>