<%- include header %>
<ul class="list-group my-search">
<% var lastYear = 0 %>
<% articles.forEach(function (article, index) { %>
    <li class="list-group-item clearfix">
        <div class="pull-left"><a href="/u/<%= article.author %>/<%= article.time.day %>/<%= article.title %>"><%- article.title2 %></a> - 作者: <a href="/u/<%= article.author %>"><%= article.author %></a></div>
        <div class="pull-right"><small><%= article.time.day %></small></div>
    </li>
<% }) %>
</ul>
<%- include footer %>