<%- include header %>
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">设置</div>
            <div class="panel-body">
                <form id="txForm" method="post" action="/upload" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="userDesc">个人头像：</label>
                        <div class="imgTx"><img src="/<%= user.tx %>" alt="#" class="img-rounded"></div>
                        <label class="btn btn-default openFile">修改头像<input type="file" name="txFile" id="txUpload" data-user="<%= user.username %>"></label>
                        <div id="upTip"><span class="glyphicon glyphicon-refresh"></span> <span class="upTipTxt"></span></div>
                    </div>
                </form>
                <form method="post" action="">
                    <div class="form-group">
                        <label for="userDesc">个人描述：</label>
                        <textarea name="userdesc" class="form-control" id="userDesc"><%= user.desc %></textarea>
                        <input type="hidden" name="imgSrc" id="hiddenImgSrc" value="">
                    </div>
                    <button type="submit" class="btn btn-default">保存</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/jquery.form.js"></script>
<script>
$(function () {
    $("#txUpload").on("change", function () {


        var tmpStr = $(this).val(),
            str = tmpStr.slice(tmpStr.indexOf('.'), tmpStr.length),
            url = encodeURI($("#txUpload").attr("data-user")) + str,
            urlRandom = "/" + url + "?v=" + Math.random(),
            tmpImg = new Image(),
            timeoutId;

        tmpImg.onload = function () {
            //clearTimeout(timeoutId);
            //timeoutId = setTimeout(function () {
                $("#upTip").hide();
                $(".imgTx img").attr("src", urlRandom);
                $("#hiddenImgSrc").val(url);
            //}, 1500);
        };
        tmpImg.src = urlRandom;

        $("#upTip").show().find(".upTipTxt").html("上传中...");

        $("#txForm").ajaxSubmit();
        return false;

    });

});
</script>

<%- include footer %>
