<%- include header %>
<% posts.forEach(function (post, index) { %>
<div class="post-per">
    <div class="post-title"><a href="#"><%= post.title %></a></div>
    <div class="post-info">作者： <a href="#"><%= post.name %></a> | 日期： <%= post.time.minute %></div>
    <div class="post-content"><%- post.post %></div>
</div>
<% }) %>
<%- include footer %>